.navigation-content {
	list-style: none;
	text-align: center;
	width: 125px;
	margin: 0 auto;
}

.navigation-content li {
	float: left;
	margin-right: 10px;
}

.navigation-content li a{
	color: white;
	text-decoration: none;
}

.navigation-content li a:hover{
	text-decoration: underline;
}